.navbar-main {
    margin: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(54, 54, 54);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-size: 25px;
}