
.product-main{
    background-color: rgb(7, 7, 7);
    /* height: 100vh; */
    width: 100%;
    
    align-items: center;
    display: flex;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
        /* Align children at the start of the container */
    /* overflow:scroll; */
    background-color: white; 
    padding-left: 400px;
    padding-right: 400px;
    background-color: red;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(43,116,135,1) 35%, rgba(0,212,255,1) 100%);
   
}
.large-box {
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    border: 2px solid darkgray; /* Adjust the border width and color */
    box-sizing: border-box; /* Include padding and border in the box sizing */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px; /* Adjust width as needed */
    height: 80vh; /* Adjust height as needed */
    margin: auto; /* Center the box horizontally */
    margin-top: 10vh; /* Adjust top margin for vertical positioning */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* background-color: green; */
}

.product-card{
    background-color: white;
    width: 400px;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border: 2px solid black;
    /* background-color: blue; */

}

.uploaded-img {
    width: 200px;
    /* background-color: pink; */
}

label{
    display: block;
    width: 200px;
    background-color: beige;
    padding: 12px;
    margin: 10px auto;
    border-radius: 5px;
    cursor: pointer;
    /* background-color: yellow; */
}
.input-file{
    display: none;
}

.detected-object{
    color: white;
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.display-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* max-height: calc(100vh - 200px); */
        /* Adjust the height as per your layout */
    overflow-y: auto;
    width: 100%;
    background-color: yellow;
    
        /* Enable vertical scrolling if necessary */
}

.display-result-element {
    margin-top: 10px;
    width: calc(50% - 10px);
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
}
.display-result-element img {
    max-width: 100%;
    /* Set maximum width to the width of the parent div */
    max-height: 200px;
    /* Set maximum height for the image */
    object-fit: contain;
    align-items: center;
    /* Maintain aspect ratio and fit within the div */
}



.label-container {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    margin-bottom: 10px;
}

label {
    display: block;
    width: 200px;
    /* background-color: beige; */
    padding: 12px;
    margin: 10px auto;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    border:2px dotted black;
}

.upload-icon {
    /* background-color: aqua; */
    font-size: 250px; /* Adjust the size as needed */
    margin-bottom: 10px; /* Add space between the icon and the text */
    height: 20px;
    width: 20px;
    
}


